<router-outlet></router-outlet>

<mat-form-field style="width:100%">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej: PENDIENTE" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="$dataSource()" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="huesped">
      <th mat-header-cell *matHeaderCellDef>HUÉSPED</th>
      <td mat-cell *matCellDef="let row">{{row.huesped?.nombre}} {{row.huesped?.apellido}}</td>
    </ng-container>
    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>INGRESO</th>
      <td mat-cell *matCellDef="let row">{{row.fechaIngreso}}</td>
    </ng-container>
    <ng-container matColumnDef="fechaSalida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SALIDA</th>
      <td mat-cell *matCellDef="let row">{{row.fechaSalida}}</td>
    </ng-container>
    <ng-container matColumnDef="totalPagar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</th>
      <td mat-cell *matCellDef="let row">S/. {{row.totalPagar}}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
      <td mat-cell *matCellDef="let row">{{row.estado}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
      <td mat-cell *matCellDef="let row">
        <button mat-flat-button (click)="openDialog(row)">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-flat-button class="cancel-button" (click)="delete(row.id)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">Sin resultados para "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  <button mat-fab style="float:right; margin:8px" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>